nav ul li
{
  display: inline-block;
  margin-left: 2vw;
}

.container
{
  margin-top: 2vw;
  text-align: center;
}

.logo
{
  float: left;
  margin-left: 5vw;
}

nav
{
  float: right;
  margin-right: 10vw;
}


ul li a
{
  text-decoration: none;
  color: black;
}

.contenu
{
  margin-top: 6vw;
}

.contenu p
{
  width: 70%;
  margin-left: 15%;
}